psp-integracion/conf/psp-dataservices-config-pais.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps"
	xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s" xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
	xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:management="http://www.mulesoft.org/schema/mule/management"
	xmlns:ognl="http://www.mulesoft.org/schema/mule/ognl" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
          http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
          http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd
          http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.3/mule-smtp.xsd
          http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/current/mule-pop3s.xsd
          http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
          http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/3.2/mule-email.xsd
          http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.1/mule-file.xsd
          http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.2/mule-jdbc.xsd
          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.3/mule-scripting.xsd
          http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.2/mule-management.xsd
          http://www.mulesoft.org/schema/mule/ognl http://www.mulesoft.org/schema/mule/ognl/current/mule-ognl.xsd
          http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
          http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
          http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd
          http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd">

	 
	
	<flow name="ConsultarDatosOpcFlow" doc:name="ConsultarDatosOpcFlow">
		<description>Flow
			que Consulta Datos Opc en registro Historicos guardados en mongo, se
			presenta
			en dos modalidades,filtra por fecha desde-hasta y tambien por stationId
		</description>
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="9000" path="opc-info" doc:name="HTTP" />
		<jersey:resources doc:name="REST">
			<component class="com.pdvsa.psp.mule.rest.QueryOpcDataMongo" />
		</jersey:resources>
		<object-to-string-transformer doc:name="Object to String" />
		<mule-xml:xml-to-object-transformer returnClass="com.pdvsa.psp.model.xml.OpcInfoRegisterRequest" encoding="UTF-8" mimeType="text/xml" doc:name="XML to Object">
			<mule-xml:alias name="Opc.Request" class="com.pdvsa.psp.model.xml.OpcInfoRegisterRequest" />
			<mule-xml:converter class="com.pdvsa.psp.converter.DateConverterMapper" />
		</mule-xml:xml-to-object-transformer>
		<choice doc:name="Choice">
			<when
				expression="#[groovy: payload.stationId &gt; 0 &amp;&amp; payload.desde != null &amp;&amp; payload.hasta != null]">
				<mongo:find-objects config-ref="Mongo_DB"
					collection="opcInfoRegisterHistorico"
					query-ref="#[string: {&quot;stationId&quot; : #[groovy:payload.stationId],	timestamp: {$gte: '#[groovy: payload.desde.format(&quot;yyyy-MM-dd&quot;).toString()]',	$lt: '#[groovy: payload.hasta.format(&quot;yyyy-MM-dd&quot;).toString()]'}}]"
					doc:name="Find OpcInfo stationId and Dates" />
				<mongo:mongo-collection-to-json
					doc:name="Mongo DB" />
			</when>
			<otherwise>
				<mongo:find-objects config-ref="Mongo_DB"
					collection="opcInfoRegisterHistorico"
					query-ref="#[string: { timestamp: { $gte: '#[groovy: payload.desde.format(&quot;yyyy-MM-dd&quot;).toString()]',	$lt: '#[groovy: payload.hasta.format(&quot;yyyy-MM-dd&quot;).toString()]'}}]"
					doc:name="Find OpcInfo StationId" />
				<mongo:mongo-collection-to-json
					doc:name="Mongo DB" />
			</otherwise>
		</choice>
		<json:json-to-object-transformer returnClass="java.util.ArrayList" doc:name="JSON to Object" />
		<scripting:transformer doc:name="Groovy">
			<scripting:script engine="Groovy"> <![CDATA[
			    import com.pdvsa.psp.model.xml.OpcInfoRegisterListResponse;
			    import com.pdvsa.psp.model.xml.OpcInfoRegisterMongo;
					    def	opcs = new OpcInfoRegisterListResponse() payload.each(){ i -> 
								String fecha = i['timestamp'] 
								def strDate = new Date().parse("yyyy-MM-dd",fecha) 
								def o = new OpcInfoRegisterMongo()		 
								o.stationId = i['stationId'] as Long
								o.hostModbusSlave = i['hostModbusSlave'] 
								o.timestamp = strDate
								o.portModbusSlave = i['portModbusSlave']
								o.reference	= i['reference']
								o.quality = i['quality']
								o.regValue = i['regValue']
								o.tagName = i['tagName']
								o.localidadNombre = i['localidadNombre'] 
								o.paisNombre = i['paisNombre'] 
								o.regionNombre = i['regionNombre'] 
								o.tanqueNombre = i['tanqueNombre'] 
								opcs.add(o) 
						} 
						return opcs
						]]>
			</scripting:script>
		</scripting:transformer>
		<mule-xml:object-to-xml-transformer	encoding="UTF-8" mimeType="text/xml" doc:name="Object to XML">
			<mule-xml:alias name="Opc.Response"	class="com.pdvsa.psp.model.xml.OpcInfoRegisterListResponse" />
			<mule-xml:alias name="Opc.Item"	class="com.pdvsa.psp.model.xml.OpcInfoRegisterMongo" />
		</mule-xml:object-to-xml-transformer>
	</flow>	 
	

</mule>
